@use '/src/app/sass/breakpoints';

header {
  background-color: white;
  display: flex;
  width: 60%;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  height: 104px;

 @media screen and (max-width: breakpoints.$desktop) {
   width: 95%;
 }
}
.header-container {
  background-color: white;
}

fa-icon {
 color: #444444;
  margin: 20px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}
.icon-with-bg {
  padding: 10px;
  background-color: #F9FAFA;
  border-radius: 15px;
  border: 1px solid rgba(0,0,0,0.12);
}

.nav-actions-small-screen {
  display: none;
  position: relative;

  @media screen and (max-width: breakpoints.$tablet) {
    display: inline-flex;
    align-items: center;
  }
}
.nav-actions-desktop-screen {
  position: relative;
  display: inline-flex;

  @media screen and (max-width: breakpoints.$tablet) {
    display: none;
  }
}
.invisible {
  display: none;
}

