button {
  min-height: 56px;
  font-size: 18px;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #F03C9C;
  border: none;
  color: #fff;
  border-radius: 5px;
  min-width: 230px;
  box-shadow: 0 10px 30px #f03c9c33;
  font-weight: 600;
}
button:hover {
  background-color: #F30086;
  box-shadow: none;
}
button:disabled {
  cursor: default;
  color: #989C9E;
  background-color: #EFEFEF;
  box-shadow: none;
}
button:disabled:hover {
   background-color: #EFEFEF;
   box-shadow: none;
 }
