<main style="max-width: 1368px">
  <div style="width: 40%; margin-right: 10%">
    <header>
      <h2 class="header">Zaloguj się</h2>
    </header>
    <div>
      <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
        <div class="input-container">
<!--          <app-input style="margin: 40px 0" placeholder="Twój e-mail" type="text" [ngModel] [required]="true" name="email"></app-input>-->
          <input type="email" name="email" ngModel required>
          <input type="password" name="password" ngModel required>
        </div>
        <div class="input-container">
<!--          <app-input [icon]="faEyeSlash" [alignIconRight]="true" placeholder="Hasło" ngModel name="password" type="password" required></app-input>-->
        </div>
        <app-button-pink [disabled]="!loginForm.valid" type="submit" >Zaloguj się</app-button-pink>
      </form>
      <app-button-black style="float: right" appUnderline>Nie pamiętam hasła</app-button-black>
    </div>

  </div>
  <div style="display: flex; justify-content: end; flex: 1 1 auto">
    <div style="flex: 0 1 70%">
      <h2>Nie masz konta?</h2>
      <p class="sign-in">Zarejestruj się. Zajmie ci to mniej niż minutę.</p>
      <app-button-pink>Załóż konto</app-button-pink>
    </div>
  </div>
</main>
