<nav>
  <ul>
    <li>
      <div>
          <fa-icon class="icon" [icon]="faHeart" [styles]="{'stroke': 'red', color: 'red'}"></fa-icon>
        <p>Twoje</p>
      </div>
    </li>
    <li>
      <fa-icon class="icon" [icon]="faHeart" [styles]="{'stroke': 'red', color: 'red'}"></fa-icon>
      <p>IT News</p>
    </li>
    <li>
      <fa-icon class="icon" [icon]="faHeart" [styles]="{'stroke': 'red', color: 'red'}"></fa-icon>
      <p>IT News</p>
    </li>
    <li>
      <fa-icon class="icon" [icon]="faHeart" [styles]="{'stroke': 'red', color: 'red'}"></fa-icon>
      <p>IT News</p>
    </li>
  </ul>
</nav>
