<article>
  <div style="position: relative">
    <fa-icon style="position: absolute; left: 50%; transform: translate(-50%,0); top: 15px" [icon]="faCaretUp" [styles]="{'stroke': 'rgb(240, 60, 156)', 'color': '#FFEDF7'}" size="3x"></fa-icon>
    <p class="thumbs-counter">{{article.rating}}</p>
  </div>
  <img style="width: 200px; height: 100px; border-radius: 10px; object-fit: cover " src="{{article.img}}" alt="sth">
  <section>
    <header>{{article.title}}</header>
    <app-chips [chips]="article.tags"></app-chips>
    <p style="display: inline-block">W społeczności</p>
    <fa-icon [icon]="faCaretUp"></fa-icon>
    <app-chip chip="IT News"></app-chip>
    <p class="article-text">
      {{article.content}}
    </p>
  </section>
</article>
